<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pintrest</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com"></script>
 
</head>
<body>

  <% if(nav === true){ %>

    <div class="flex justify-around gap-4">
      <h2>Pintrest</h2>
      <div>
        <a href="/profile">Profile</a>
        <a href="/">Feed</a>
        <a href="/logout" class="px-2 py-2 bg-red-700">Logout</a>
      </div>
    </div>

 <% } 
 
 %>

  