<% include ./Partials/Header.ejs %>

<div class="w-full min-h-screen bg-zinc-800 px-10 py-5">
    <h1 class="text-xl">create new post</h1>
    <hr class="opacity-10 mt-3">
    <form action="/createpost"method="POST" enctype="multipart/form-data" class="py-4">
        <input type="file" class="py-4" name="postimage"> <br>
        <input type="text" placeholder="Title" class="my-4"> <br>
        <textarea placeholder="Description" name="description" class="h-60"></textarea><br>
        <input type="submit" value="createpost" class="bg-red-900">
    </form>
</div>
<% include ./Partials/Footer.ejs %>