<% include ./Partials/Header.ejs %>

<div class="w-full h-screen bg-zinc-500 flex items-center justify-center">
    <div class="w-60 h-90 bg-zinc-300">
      <h1>Create a new account</h1>
      <form action="register" method="POST">
        <input class="my-2" type="text" name="username" placeholder="username">
       
        <input class="my-2" type="email" name="email" placeholder="Email"> <br>
        <input class="my-2" type="number" name="contact" placeholder="Contact"> <br>
        <input class="my-2" type="password" name="password" placeholder="password"> <br>
        
       
        
       
        <input type="submit" value="CreateNewAcc">
        <p class="text-sm">Lorem ipsum dolor, sit amet consectetur a</p>
      </form> <br>

      <a href="/login">Login into existing accout?</a>
    </div>
  </div>

<% include ./Partials/Footer.ejs %>
