*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(28, 27, 27);
  color: rgb(27, 70, 107);

}


/* Remove spinner arrows from number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Hide spinner arrows for other browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: Remove default margin */
}



